@import '/src/scss/variables.module.scss';

.wrapper {
    margin-top: 20px;
    width: 685px;
    height: 390px;
    background-color: #fff;
    border-radius: 5%;
    background-image: var(#{--week-component-background-image-default});
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1400px) {
        margin: 0 auto;
        margin-top: 20px;
      }
  
      @media (max-width: 1060px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
}

.weather_week {
  display: grid;
  grid-template-columns: repeat(4,150px); 
  grid-template-rows: repeat(2,150px);
  grid-gap: 50px 30px;
}

@media (max-width: 400px) {
  .wrapper {
    width: 350px;
    height: 790px;
  }

  .weather_week {
    grid-template-columns: repeat(2,150px); 
    grid-template-rows: repeat(3,150px);
  }
}