.wrapper {
    margin-top: 20px;
    width: 685px;
    height: 390px;
    background-color: #fff;
    border-radius: 5%;
    background-image: url('/src/assets/sunny-mountain-week.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1400px) {
        margin: 0 auto;
        margin-top: 20px;
      }
  
      @media (max-width: 1060px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (max-width: 730px) {
        grid-template-columns: repeat(1, 1fr);
      }
}