.weather_detail {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  &__icon * {
    fill: #fff;
  }
  
  p {
    text-align: center;
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .weather_detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}