@import '/src/scss/variables.module.scss';

.wrapper {
    margin-top: 20px;
    width: 685px;
    height: 800px;
    background-color: #fff;
    border-radius: 5%;
    background-image: var(#{--main-component-background-image-default});
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1400px) {
        margin: 0 auto;
        margin-top: 20px;
      }
  
      @media (max-width: 1060px) {
        margin: 0 auto;
        margin-top: 20px;
      }
  
      @media (max-width: 730px) {
        margin: 0 auto;
        margin-top: 20px;
      }
}

.inner {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;

  .main_block {
    padding: 40px 0 0 20px;
  
    .city_title {
      font-size: 62px;
    }
  
    p {
      font-size: 28px;
    }
  
    .weather_descr { 
      margin-top: -60px;
      font-size: 32px;
      letter-spacing: 2px;
    }
  }
  
  
  .temp_block {
    padding: 40px 20px 0 0;
    font-size: 32px;
  }
}

.icon {
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: -20px;
  width: 256px;
  height: 256px;
}

.sunny {
  margin-top: -40px;
  margin-bottom: 30px;
  margin-left: -70px;
  width: 256px;
  height: 256px;
}

@media (max-width: 400px) {
  .wrapper {
    margin: 0;
    width: 350px;
  }

  .inner {
    .main_block {
      .city_title {
        font-size: 22px;
      }
      p {
        padding-top: 5px;
        font-size: 22px;
      }
      
      .weather_descr {
        font-size: 28px;
      }


    }
    
    .temp_block {
      font-size: 22px;
    }
  }

  .icon {
    width: 180px;
    height: 180px;
  }

  .sunny {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    border-radius: 3%;
  }
}