.wrapper {
    margin-top: 20px;
    width: 685px;
    height: 800px;
    background-color: #fff;
    border-radius: 5%;
    background-image: url('/src/assets/sunny-mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1400px) {
        margin: 0 auto;
        margin-top: 20px;
      }
  
      @media (max-width: 1060px) {
        margin: 0 auto;
        margin-top: 20px;
      }
  
      @media (max-width: 730px) {
        margin: 0 auto;
        margin-top: 20px;
      }
}

.item {
  padding: 20px 0 0 20px;
}