.header {
    .container {
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        height: 60px;

        .header_left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 600px;

          &__logo {
            display: flex;
            align-items: center;

            .logo * {
              fill: #fff;
            }
          }
        }
    
        .header_right {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 1400px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      .header_left {
        &__logo {
          display: none;
        }
      }
    }
  }
}