@import './libs/normalize';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

.wrapper {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 100vw;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

.main {
    display: grid;
    grid-template-areas: "b b a" "b b c" "b b c";
    gap: 15px;

    @media (max-width: 1400px) {
        grid-template-areas: "none";
      }
  
      @media (max-width: 1060px) {
        grid-template-areas: "none";
      }
  
      @media (max-width: 730px) {
        grid-template-areas: "none";
      }
}